#backdrop {
    background-color: #000000;
    /*background-color: #2b3136;*/
}


/* Entering Page - @START of Animation */
.slide-enter {
    opacity: 0;
    scale: 0.5;
}
/* Entering Page - @END of Animation */
.slide-enter.slide-enter-active {
    opacity: 1;
    scale: 1;
    
    /*-webkit-transition: opacity 2s ease 5s, scale 2s ease 7s;
    -moz-transition: opacity 2s ease 5s, scale 2s ease 7s;*/
    /*transition: opacity 2s ease 5s, scale 2s ease 7s;
    */ 
    animation: pageIn 4s cubic-bezier(0.19,1,0.72,1) 4s;
}
@keyframes pageIn {

}


/* Exiting Page - @START of animation */
.slide-exit {
    scale: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    
}
/* Exiting Page - @END of animation */
.slide-exit.slide-exit-active {
    scale: 0.5;
    
    
    /*-webkit-transition: scale 2s ease 0s, transform 3s ease 2s;
    -moz-transition: scale 2s ease 0s, transform 3s ease 2s;*/
    transition: all 2s ease 0s, transform 3s ease 2s; 
    
    animation: pageOut 4s cubic-bezier(.8, -.5, .2, 1.4), scale;
}
@keyframes pageOut {
    -webkit-transform: translate(-200%, 0%);
    -moz-transform: translate(-200%, 0%);
    transform: translate(-200%, 0%); 
}


/* Styling each page as a transition block */
div.transition-group {
    position: relative;
}
section.route-section.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
}