/* Entering Page - Start of Animation */
.slide-enter {
    /*opacity: 0.01;
    */
    margin-right: -150%;
    opacity: 0.8;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
}

/* Entering Page - End of Animation */
.slide-enter.slide-enter-active {
    /*opacity: 1;
    transition: opacity 300ms ease-in;
    */
    margin-right: 0;
    opacity: 1;

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* Exiting Page - Start of animation */
.slide-exit {
    /*opacity: 1;
    */
    margin-right: 0%;
}

/* Exiting Page - Start of animation */
.slide-exit-active {
    margin-right: 200%;
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.slide-exit.slide-exit-active {
    /*opacity: 0.01;
    transition: opacity 300ms ease-in;
    */
    margin-right: -200%;
    opacity: 0.8;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
}



div.transition-group {
    position: relative;
}
section.route-section.active {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}