
#About {
    font-size: 16px;
    line-height: 1.6;
    scroll-behavior: smooth;
    padding-left: 20%;
}

.sidenav {
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: block;
    text-align: right;
    padding: 120px 46px 0 0;
    line-height: 2;
    background-color: #007A45; }

/* Switch to Tablet / Mobile Menu */
@media all and (max-width: 960px) {
    .sidenav { visibility: hidden; }
    #About { padding-left: 0; }
}

    .sidenav ul {
        overflow-x: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
        }
        .sidenav li a {
            display: inline-block;
            color: #ebebeb;
            font-size: 1.6em;
            text-decoration: none;
            transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        }
        .sidenav li a:hover {
            color: darkgray;
        }
        .toc li.visible > a {
            color: #111;
            transform: translate(5px); }


/* ===== Main Content Container ===== */
.about-contents {
    padding: 1em;
    max-width: 1000px;
    font-size: 1.2em;
    width: 80%;
    padding: 4em 15% 0 4em;
    
    
    /*font-family: 'Frank Ruhl Libre', sans-serif;*/

}

    #Bio {
        /*transform: translate(-50%, -50%);*/
        
        color: black;

        /*display: flex;
        flex-flow: row wrap;
        align-items: baseline;*/
    }
    /*#about-hero p {
        margin: 0 30px 20px 0;
        font-size: 4.5em;
    }*/