/* ====== Dive In Container ===== */
#About {
    position: relative;
    display: flex;
    min-height: 100vh;
    height: 100%;
    padding-top: 10vh;
    border-top: 1px solid #eeddaa;
    background: #2b3136;
}

    .about-content {
        display: flex;
        flex-flow: column nowrap;
        width: 50%;
        padding-left: 10%;
    } 
        .about-intro-para {
            height: 33%;
            padding-bottom: 4rem;
            color: #eeddaa;
        }
            .about-intro-para h2 {
                font-size: 3rem;
            }
            .about-intro-para p {
                padding-top: 1rem;
                line-height: 0.8rem;
                font-size: 0.8rem;
                font-weight: 450;
                line-break: loose;
            }
    
    .about-more-content {
        display: flex;
        flex-flow: column nowrap;
        width: 40%;
        padding: 0 10% 5vh 10%;
    }
        .about-more-content span {
            height: 33%;
            padding-top: 15%;
        }
        .about-more-content h3 {
            color: #f9f1dc;
            text-decoration: underline dotted;
        }