
#About {
    font-size: 16px;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: #e0e0e0;
    /*margins set in about-contents */
}

.sidenav {
    width: 15%;
    height: auto;
    left: 10%;
    top: 120px;
    position: fixed;
    display: block;
    text-align: right;
    padding: 10px 10px;
    line-height: 2;
    background-color: white; 
}

.sidenav-wrapper {
    background-color: #16253d;
    padding: 16px 16px 8px 8px;
    height: 100%;   
    }
    .sidenav ul {
        overflow-x: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
        }
        .sidenav li a {
            display: inline-block;
            color: #ebebeb;
            font-size: 1.1em;
            text-decoration: none;
            transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        }
        .sidenav li a:hover {
            color: darkgray;
        }
        .toc li.visible > a {
            color: #111;
            transform: translate(5px); }

/* Switch to Tablet / Mobile Menu */
@media all and (max-width: 960px) {
    .sidenav { visibility: hidden; }
    #About { padding-left: 0; }
}

/* ===== Main Content Container ===== */
.about-contents {
    width: 75%;
    float: right;
    padding: 20px 10% 0 10px;
}

    #Bio {
        /*transform: translate(-50%, -50%);*/
        color: black;
        /*display: flex;
        flex-flow: row wrap;
        align-items: baseline;*/
    }

    #Colleagues {
        background-color: #e0e0e0;
    }