
#AboutMaster {
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #e0e0e0;
    /*margins set in about-contents */
}

/* Common grid styling */
.col-1 { width: 30%; }
.col-2 { width: 70%; }

    .col-2 p {
        font-size: 0.85em;
    }
    .col-2 h5 {
        padding: 6px 0;
        line-height: 1.1;  
        padding-top: 10px;
        font-size: 1.05em; 
    }
    .col-2 h4 {
        padding: 12px 0 6px 0;
        line-height: 1.4;  
        padding-top: 10px;
        font-size: 1.3em; 
    }
    .col-2 h2 {
        line-height: 1.8;
        padding: 12px 0;
        font-size: 2em;
        padding-top: 10px;
    }
    .col-2 h1 {
        line-height: 2;
        padding: 12px 0;
        font-size: 2.4em;
        padding-top: 10px;
    }
/* end ----- */

/* ===== About Intro Banner Styling ===== */
#AboutIntro {
    display: flex;
    flex-flow: row wrap;
    height: 100%; 
    background-color: #16253D;
    color: white;
    }
    #banner {
        padding: 120px 10% 240px 5%;
    }
    #banner h2 { color: #EFB509; }

    /* temporary */
    #intro-img p {
        position: relative;
        top: 50%;
        left: 0;
    }
    
    #AboutIntro button {
        background-color: #EFB509;
        border: none;
        color: black;
        padding: 16px 32px;
        text-decoration: none;
        border-radius: 16px;
        margin: 24px 0 0 6px;
    }
/* end ----- */


/* ===== About Paragraphs Styling */
#AboutDetails {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 10%;
    background-color: #efb609;
    }
    .details-container {
        width: 33.33%;
        padding: 0 32px;
    }
    .details-container:first-child { padding-left: 0; }
    .details-container:last-child { padding-right: 0; }

    .details-container h3 {
        text-align: left;
        padding-bottom: 16px;
    }
    .details-container p {
        padding: 0 8px;
    }
/* end ----- */

#AboutLinks {
    display: block;
    width: 100%;
    padding-top: 30px;
    }
    #AboutLinks a {
        padding-right: 25px;
        color: black;
        /*background-color: #00E4E4;
        padding: 20px;
        border-radius: 50%;*/
    }


/* Quote Spacer Styling */
#quote-spacer {
    padding: 10px 0;
    text-align: center;
    font-size: 1.1em;
    background-color: white;
}