/* Footer.js Styling
* ======================= *
* 
*/ 

/* ===== Footer Callout Styling ===== */
.foot-master {
    background-color: #2B3136;
}
.foot-callout-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2b3136;

    border-top: 1px solid #eeddaa;
    }
    .foot-bg-gif {
        position: absolute; z-index: 0;
        right: 10%;
        top: 15%;
        }
        .foot-bg-gif video {
            opacity: 0.2;
        }
    .foot-callout {
        text-align: center;
        position: absolute;
        display: inline-block;
        top: 25%;
        left: 10%;
    }
    .foot-callout h2 {
        color: #F9F1DC;
        font-size: 5rem;
    }

    .foot-links { /* Connect */
        position: absolute;
        top: 55%;
        left: 15%;
        display: block;
        transform: scale(1.3);
    }
        .foot-links span > span{
            position: relative;
            bottom: 18px;
            color: #F9F1DC;
            font-size: 0.9rem;
            font-weight: 500;
        }
        .foot-links span a { /* box spacing */
            margin: 0 10px;
        }

        .dl-button.foot {
            border: none;
            margin-top: 8px;
        }

        .dl-button.foot .bt-back { 
            background-color: transparent;
            color: #f9f1dc; 
        }
        .dl-button.foot .bt-front { 
            color: #F9F1DC; 
            background-color: transparent;
        }
        .dl-button.foot .bt-back,
        .dl-button.foot .bt-front {
            padding: 0 16px;
        }