/* Footer.js Styling
* ======================= *
* 
*/ 

/* ===== Footer Callout Styling ===== */
.foot-master {
    background-color: #2B3136;
}
.foot-callout {
    height: 60vh;
}
.foot-callout-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/enchantments.jpg');
    width: 100%;
    height: 100%;
    position: relative;
    }

    .foot-callout-text {
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        
    }

    .foot-callout-text > * { /* Connect */
        position: relative;
        display: block;
    }
    .dl-button .bt-back.foot { background-color: #F9F1DC; }
        .foot-callout-text h2 {
            bottom: 200px;
        }
        #mail-foot {
            bottom: 40px;
        }
        #github-foot {
            top: 40px;
        }
        


/* ===== Footer Styling ===== */
/*.foot-container {
    padding: 48px 5%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}

    .foot-items {
        flex: 4;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        }
        .foot-items li {
            flex: 1;
            list-style-type: none;
            padding: 16px;
            width: 50px;
        }
            .foot-items li a {
                text-decoration: none;
                color: #F9F1DC;
                font-size: 1rem;
            }
            .foot-items li a:hover,
            .foot-items li a:active {
                color: #E0BF00;
                text-decoration: underline;
                text-decoration-color: #E0BF00;
                transition: all 0.4s;
            }
    .foot-logo {
        flex: 1;
        overflow: hidden;
        align-self: center;
        justify-self: center;
    }
        .foot-logo img {
            width: 90%;
            object-fit: contain;
        }

@media (max-width: 760px) {
    .foot-container {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

@media (max-width: 600px) {
    .foot-items {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}*/