.IntroMaster > div:not(:first-child) { /* all card section (except intro) */
    padding: 0;
    margin: 0;
    font-size: 1rem;
}


/* Common text styling */
.IntroMaster h6 { font-size: 1.1em; }
.IntroMaster h4 { font-size: 1.5em; }
.IntroMaster h2 { font-size: 2em; }
.IntroMaster h1 { font-size: 5em; }
/* end ----- */


/* Hero Image Styling */
#hero-contents {
    position: relative;
    background-color: #ebebeb;
    width: 100%;
    height: 100%; /* for scaling */
    min-height: 60vh;
    margin: 0;
    padding: 7.5% 0 10% 0;
    }
    #hero-title-block {
        position: relative;
        z-index: 3; /*--1st*/
        background-color: #16253D;
        box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .2);
        border-radius: 4px;
        left: 10%;
        width: 50%; 
        max-width: 960px;
        max-height: 450px;
        padding: 32px 0 32px 5%;
        color: white;
        }
        #hero-title-block h1 { line-height: 100px; }
        #hero-title-block h4 {
            line-height: 30px;
            line-break: loose;
            font-weight: lighter;
        }

    #hero-desc-block {
        position: relative;
        z-index: 2; /*--2nd*/
        width: 50%; /* 15% on right */
        max-width: 800px;
        left: 30%;
        top: -24px; /* --'#hero-title paddding-bottom' + 6px */

        padding: 42px 48px; /* 24px++16px */
        background-color: #EFB509;
        border-radius: 4px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        color:#3d3d3d;
        font-weight: normal;
        }
        #title-link {
            position: absolute;
            z-index: 2; /*NEW context --1st*/
            
            width: 30px;
            bottom: 30px;
            height: 60px;
            left: calc(75% - 15px); /* block-middle - 1/2*'arrow-width' */
            transform: translate(-50%, 50%) rotate(45deg);
            cursor: pointer; 
            }
            /* send down arrow */
            #arrow {
                position: absolute;
                width: 100%;
                height: 4px; /* arrow "width" */
                background-color: #3d3d3d;
                box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
                animation: updown 1s ease-in-out infinite;
                
                }
                @keyframes updown {
                    0%, 100% { transform: translate(0, 0); }
                    50% { transform: translate(6px, 0); }
                }
                #arrow::after, #arrow::before {
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 4px;
                    right: -4px; /* --#arrow height */
                    background-color: #3d3d3d;
                }
                #arrow::after {
                    top: -4px;
                    transform: rotate(45deg);
                    cursor: pointer; 
                }
                #arrow::before {
                    top: 4px;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
                    transform: rotate(-45deg);
                    cursor: pointer; 
                }

        #hero-desc-block h4 {
            position: relative;
            z-index: 0; /*--3rd */
            display: block;
            width: 100%;
            line-height: 40px; 
            font-weight: 500;
        }
        #hero-desc-block h6 {
            position: relative;
            z-index: 0; /*--3rd */
            display: block;
            font-weight: 200;
            width: 100%;
            line-height: 30px;
        }

    #hero-desc-block button {
        position: absolute;
        display: ;
        z-index: 1; /*--2nd */
        right: 0;
        top: 100%;
        padding: 16px 32px;
        margin: 16px 32px 0 0;
        
        background-color: #002A52;
        color: white;
        border: none;
        border-radius: 16px;
        text-decoration: none;
        
    }
/* end ----- */



/* ===== Table of Contents Styling ===== */
#TOC-container {
    position: relative; /* CORRECT ======= */
    width: 100%;
    height: auto;
    background-color: #EFB509;
}

    #svg-container { 
        width: 100%; height: 100%;
        z-index: 4; /*--back */
    }
        .svg-gpath:not(.selected) { /* lighten non-chosen lines */
            opacity: 0.4;
        }

    #content-cover { 
        width: 100%; height: 100%;
        position: absolute; /* out of flow, on top */
        top: 0; left: 0;
        z-index: 1; /*--front */ 
    }

        .content-link { 
            position: absolute; 
            right: 20%;
            margin-bottom: -1em; /*::-16px */
            width: 40%;
        }
        #about-me { bottom: calc(90% - 1.5em) }
        #portfolio { bottom: calc(60% - 1.5em) }
        #exp-skills { bottom: calc(40% - 1.5em) }
        #connect { bottom: calc(10% - 1.5em); }
            .content-link a {
                font-size: 1.5em; /*::24px */
                text-decoration: none;
                font-weight: 600;
                color: #3b3b3b;
                text-align: right;
            }
            .content-link a:hover h4 {
                transform: scale(1.1);
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transition: 0.5s all ease-in-out;
            }
        
/* ===== My Works Styling ===== */
/*#WorksIntro {
    background-color: #CD7213;
    padding: 40px 12.5% 32px 12.5%;
    height: 400px;
}*/

/* Recent Work Grid */
/*#recent-project-grid {
    margin: 32px 16px 16px 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    word-wrap: normal;
}*/

/* Recent Work Cards */
/*.flip-card {
    width: 300px;
    height: 250px;
    border-radius: 12px;
    perspective: 1000px;
    margin-bottom: 20px;
    background-color: transparent;
}
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }*/
      /* Do an horizontal flip when you move the mouse over the flip box container */
      /*.flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }*/
      /* Position the front and back side */
      /*.flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 3px solid #007A45;
      }
       (front-side fallback if image is missing) */
      /*.flip-card-front {
        background-color: #ebebeb;
        color: #3b3b3b;
      }*/
      
      /* Style the back side */
      /*.flip-card-back {
        background-color: #00E4E4;
        color: #3b3b3b;
        text-align: center;
        transform: rotateY(180deg);
      }*/

/* Link to Projects */
#projects-link {
    width: 20%; /* reletatively ~20% */
    padding: 10px;
}
#projects-link p {
    position: relative;
    top: 50%;
    left: 50%;
}







/* show class added to filtered elements */
/*.show {
    display: block;
}*/

/* Filter Button functionality*/
/* Style the buttons */
/*.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  */
  
  /* Add a grey background color on mouse-over */
  /*.btn:hover {
    background-color: #ddd;
  }
  */
  /* Add a dark background color to the active button */
  /*.btn.active {
    background-color: #666;
     color: white;
  }*/
    