/* Tablet menu */
@media all and (min-width: 700px) {

}

/* Tablet menu */
@media all and (min-width: 960px) {

}

#WorksMaster {
    background-color: #f5f5f5;
}



/* Common grid styling */
.col-1 { width: 30%; }
.col-2 { width: 70%; }

    .col-2 p {
        font-size: 0.85em;
    }
    .col-2 h2 {
        line-height: 1.8;
        padding: 12px 0;
        font-size: 1.6em;
        padding-top: 10px;
    }
    .col-2 h4 {
        padding: 12px 0 6px 0;
        line-height: 1.4;  
        padding-top: 10px;
        font-size: 1.3em; 
    }
    .col-2 h5 {
        padding: 6px 0;
        line-height: 1.1;  
        padding-top: 10px;
        font-size: 1.05em; 
    }




/* ===== Knowledge/Skills Styling ===== */
#KnowledgeIntro {
    /*padding: 50px 7.5% 0 7.5%;*/
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    background: #16253D;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}
    #knowledge-content { padding-left: 10%; }
    
    #Skills {
        display: flex;
        flex-flow: row wrap;
        }
        .knowledge-box { 
            width: 50%; /*..of flex*/
        }
        .knowledge-box p {
            padding-left: 6px;
            padding-right: 12px;
        }
    
    #Knowledge-right {
        padding-right: 10%;
        }
        #knowledge-title {
            position: relative;
            left: 40%; /* 70% of 25% == 17,5% padding */
            top: 25%;
            width: 3px;
            height: 110px;
            background: #efb609;
            }
            #knowledge-title p {
                position: relative;
                top: 120px;
                font-size: 2em;
                font-weight: 550;
                }
                #knowledge-title span {
                    color: #CD7213;
                    left: 0;
                    font-weight: 800;

                }



.Works {
    padding-bottom: 100px;
    
}

.works-row {
    margin: 0 10%;
    padding: 0 2.5%;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.entry {
    padding: 50px;
    width: 32.333%;
    margin: 1% 0;
    color: #333;
    box-shadow: 1px 1px 2px #e6e6e6;
    background-color: #9CAFB7;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    }
    .entry img {
        display: block;
        position: relative;
        height: 90%;
        width: 90%;
    }
    .entry .mask, .entry .content {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    .entry h2 {
        text-transform: uppercase;
        color: #ebebeb;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
        margin: 20px 0 0 0;
    }
    .entry p {
        font-size: 12px;
        position: relative;
        color: #fff;
        padding: 5px 10px 10px;
        text-align: center;
    }
    .entry a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000
    }
    .entry:hover {
        background-color: rgba(0, 122, 69, 0.992);
        transition: 0.6s all;
        box-shadow: 0 0 5px #000
    }
    
    /* box animation cover styling */
    .entry-cover img { 
        transition: all 0.2s linear;
    }
        .entry-cover .mask {
            opacity: 0;
            background-color: #007A45; 
            transition: all 0.4s ease-in-out;
        }
        .entry-cover h2 {
            transform: translateY(-100px);
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
        .entry-cover p { 
            transform: translateY(100px);
            opacity: 0;
            transition: all 0.2s linear;
        }
        .entry-cover a.info{
            opacity: 0;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
        }

    /* box cover animation */
    .entry-cover:hover img { 
        transform: scale(1.1);
    } 
    .entry-cover:hover .mask { 
        opacity: 1;
    }
    .entry-cover:hover h2,
    .entry-cover:hover p,
    .entry-cover:hover a.info {
        opacity: 1;
        transform: translateY(0px);
    }
    .entry-cover:hover p {
        transition-delay: 0.1s;
    }
    .entry-cover:hover a.info {
        transition-delay: 0.2s;
    }

    /*entry dropboc animations*/
    .work-dropbox--open {
        animation: work-dropbox--open 0.5s normal forwards ease-in-out;
        transform-origin: 50% 0;
        -webkit-animation: work-dropbox--open 0.5s normal forwards ease-in-out;
           -moz-animation: work-dropbox--open 0.5s normal forwards ease-in-out;
                animation: work-dropbox--open 0.5s normal forwards ease-in-out;
        -webkit-transform-origin: 100% 0%;
           -moz-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
    }
    .work-dropbox--closed {
        animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
        transform-origin: 50% 0;
        -webkit-animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
           -moz-animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
                animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
        -webkit-transform-origin: 50% 0%;
           -moz-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    }

    @-webkit-keyframes work-dropbox--open {
        from { transform: scaleY(0) }
        to { transform: scaleY(1) }
    }
    @-moz-keyframes work-dropbox--open {
        from { transform: scaleY(0) }
        to { transform: scaleY(1) }
    }
    @keyframes work-dropbox--open {
        from { transform: scaleY(0) }
        to { transform: scaleY(1) }
    }

    @-webkit-keyframes  work-dropbox--closed {
        from { transform: scaleY(1) }
        to { transform: scaleY(0) }
    }
    @-moz-keyframes  work-dropbox--closed {
        from { transform: scaleY(1) }
        to { transform: scaleY(0) }
    }
    @keyframes  work-dropbox--closed {
        from { transform: scaleY(1) }
        to { transform: scaleY(0) }
    }


.works-row::after {
    content: '';
    display: table;
    clear: both;
}

.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }




  
/* Common grid styling */
.col-1 { width: 30%; }
.col-2 { width: 70%; }

    .col-2 p {
        font-size: 0.85em;
    }
    .col-2 h2 {
        line-height: 1.8;
        padding: 12px 0;
        font-size: 1.6em;
        padding-top: 10px;
    }
    .col-2 h4 {
        padding: 12px 0 6px 0;
        line-height: 1.4;  
        padding-top: 10px;
        font-size: 1.3em; 
    }
    .col-2 h5 {
        padding: 6px 0;
        line-height: 1.1;  
        padding-top: 10px;
        font-size: 1.05em; 
    }               

/* ===== My Skills Styling ===== */
#SkillsIntro {
    /*padding: 50px 7.5% 0 7.5%;*/
    display: flex;
    flex-flow: row wrap;
    height: 650px;
    background-color: #16253D;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* left column */
#skills-title {
    /* changes from .col-1 > div */
    position: relative;
    left: 40%;
    top: 25%;
    width: 3px;
    height: 110px;
    background: #EFB509;
    padding: 0;
    }
    #skills-title p {
        color: white;
        position: relative;
        top: 120px;
        font-size: 2em;
        font-weight: 550;
    }
    #skills-title span {
        color: #CD7213;
        font-weight: 800;
    }

/* right column */
#my-skills-content {
    display: flex;
    flex-flow: row wrap;
    color: white;
}

    .skill-bar {
        padding-top: 16px;
        padding-bottom: 20px;
        display: inline-block;
        width: 100%;
    }
        .bar {
            width: 80%;
            height: 24px;
            background-color: white;
            color: white;
            text-align: center;
        }
        #html {
            width: 90%;
            height: inherit;
            background-color: #CD7213;
        }
        #js {
            width: 80%;
            height: inherit;
            background-color: #CD7213;
        }
        #react {
            width: 85%;
            height: inherit;
            background-color: #CD7213;
        }
        #python {
            width: 75%;
            height: inherit;
            background-color: #CD7213;
        }
        #prototyping {
            width: 90%;
            height: inherit;
            background-color: #CD7213;
        }
        #illustrator-figma {
            width: 75%;
            height: inherit;
            background-color: #CD7213;
        }
