

.ComponentMaster {
    margin: 0 10%;
}
.ComponentMaster > div { /* all card sections */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Hero Image Styling */
#HeroWrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/LinkedInPic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
    margin-top: 10px;
    }
    #hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        transform: translate(-50%, -50%);
        color: white;

        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
    }
        #hero-block-left {
            width: 60%;
        }
            .hero-links {
                margin: 2.5px;
                padding-left: 2.5px;
                line-height: 1.75em;
            } 
            #hero-name {
                margin: 0 30px 20px 0;
                font-size: 4.5em;
            }
        #hero-block-right {
            width: 40%;
            
            } #hero-block-right h4 {
                font-size: 1.75em;
                line-height: 1.5; 
            }

/* Common grid styling */
.col-1 { width: 30%; }
.col-2 { width: 70%; }

    .col-2 p {
        font-size: 0.9em;
    }
    .col-2 h2 {
        line-height: 1.8;
        padding: 12px 0;
        font-size: 1.8em;
        padding-top: 10px;
    }
    .col-2 h4 {
        padding: 12px 0 6px 0;
        line-height: 1.4;  
        padding-top: 10px;
        font-size: 1.4em; 
    }
    .col-2 h5 {
        padding: 6px 0;
        line-height: 1.1;  
        padding-top: 10px;
        font-size: 1.1em; 
    }

/* ===== About Me Intro Styling ===== */
#AboutIntro {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #efb609;
    }
    #about-intro-content { padding-right: 10%; }

    #about-title {
        position: relative;
        left: 40%;
        top: 25%;
        width: 3px;
        height: 110px;
        background: #002c54;
        padding: 0;
        /*min-width: 500px; for small screens -- hide title */
        }
        #about-title p {
            position: relative;
            top: 120px;
            font-size: 2em;
            font-weight: 550;
            }
            #about-title span {
                color: #002c54;
                position: relative;
                left: 0px;
                font-weight: 800;
            }

    #AboutLinks {
        display: block;
        width: 100%;
        padding-top: 30px;
        }
        #AboutLinks a {
            padding-right: 25px;
            color: black;
            /*background-color: #00E4E4;
            padding: 20px;
            border-radius: 50%;*/
        }
        #AboutLinks button {
            background-color: #002c54;
            border: none;
            color: white;
            padding: 12px 24px;
            text-decoration: none;
            border-radius: 16px;
            float: right;
        }


/* ===== Knowledge/Skills Styling ===== */
#KnowledgeIntro {
    /*padding: 50px 7.5% 0 7.5%;*/
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    background: #16253D;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}
    #knowledge-content { padding-left: 10%; }
    
    #Skills {
        display: flex;
        flex-flow: row wrap;
        }
        .knowledge-box { 
            width: 50%; /*..of flex*/
        }
        .knowledge-box p {
            padding-left: 6px;
            padding-right: 12px;
        }
    
    #Knowledge-right {
        padding-right: 10%;
        }
        #knowledge-title {
            position: relative;
            left: 40%; /* 70% of 25% == 17,5% padding */
            top: 25%;
            width: 3px;
            height: 110px;
            background: #CD7213;
            }
            #knowledge-title p {
                position: relative;
                top: 120px;
                font-size: 2em;
                font-weight: 550;
                }
                #knowledge-title span {
                    color: #EFB509;
                    left: 0;
                    font-weight: 800;

                }
               

/* ===== My Skills Styling ===== */
#SkillsIntro {
    /*padding: 50px 7.5% 0 7.5%;*/
    display: flex;
    flex-flow: row wrap;
    height: 650px;
    background-color: #EFB509;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* left column */
#skills-title {
    /* changes from .col-1 > div */
    position: relative;
    left: 40%;
    top: 25%;
    width: 3px;
    height: 110px;
    background: #002c54;
    padding: 0;
    }
    #skills-title p {
        color: white;
        position: relative;
        top: 120px;
        font-size: 2em;
        font-weight: 550;
    }
    #skills-title span {
        color: black;
        font-weight: 800;
    }

/* right column */
#my-skills-content {
    display: flex;
    flex-flow: row wrap;
    color: black;
}

    .skill-bar {
        padding-top: 16px;
        padding-bottom: 20px;
        display: inline-block;
        width: 100%;
    }
        .bar {
            width: 80%;
            height: 24px;
            background-color: white;
            color: white;
            text-align: center;
        }
        #html {
            width: 90%;
            height: inherit;
            background-color: #002C54;
        }
        #js {
            width: 80%;
            height: inherit;
            background-color: #002C54;
        }
        #react {
            width: 85%;
            height: inherit;
            background-color: #002C54;
        }
        #python {
            width: 75%;
            height: inherit;
            background-color: #002C54;
        }
        #prototyping {
            width: 90%;
            height: inherit;
            background-color: #002C54;
        }
        #illustrator-figma {
            width: 75%;
            height: inherit;
            background-color: #002C54;
        }


/* ===== My Works Styling ===== */
#WorksIntro {
    background-color: #CD7213;
    padding: 40px 12.5% 32px 12.5%;
    height: 400px;
}
    #works-title p {
        font-size: 1.75em;
    }

/* Recent Work Grid */
#recent-project-grid {
    margin: 32px 16px 16px 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    word-wrap: normal;
    
}

/* Recent Work Cards */
.flip-card {
    width: 300px;
    height: 250px;
    border-radius: 12px;
    perspective: 1000px;
    margin-bottom: 20px;
    background-color: transparent;
}
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        border: 3px solid #007A45;
      }
      /* (front-side fallback if image is missing) */
      .flip-card-front {
        background-color: #ebebeb;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: #00E4E4;
        color: black;
        text-align: center;
        transform: rotateY(180deg);
      }

/* Link to Projects */
#projects-link {
    width: 20%; /* reletatively ~20% */
    padding: 10px;
}
#projects-link p {
    position: relative;
    top: 50%;
    left: 50%;
}







/* show class added to filtered elements */
/*.show {
    display: block;
}*/

/* Filter Button functionality*/
/* Style the buttons */
/*.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  */
  
  /* Add a grey background color on mouse-over */
  /*.btn:hover {
    background-color: #ddd;
  }
  */
  /* Add a dark background color to the active button */
  /*.btn.active {
    background-color: #666;
     color: white;
  }*/
    