
/* Global styling */

#Portfolio {
    background-color: #2b3136;
    border-top: 1px solid #eeddaa;
    position: relative;
    padding: 0;
    font-family: "Cousine", monospace;
    overflow-x: hidden;
}
/* end ----- */

.portfolio-header {
    position: fixed;
    height: calc(100vh - 8rem);
    left: 5vw;
    font-family: 'Arial Black', serif;
    color: #eeddaa;
}
    /*.portfolio-header p {} --> in component */


/* ===== Portfolio/Works Grid Styling ===== */
.project-container {
    height: 100%;
    min-height: 60vh;
    padding: 20vh 10% 20vh 20%;
    background: none;
}
/*.project-wrapper {
    position: relative;
    rest of styles in component
}*/
    .entry {
        position: relative;
        height: 60vh;
        width: 100%;
        padding: 24px 0;
        overflow: hidden;
        border-radius: 2px;
        text-align: center;
        background: black;
        display: table;
        /*animation: moveEntryCard 10ms ease-in;*/
    }
        .entry-bg-wrap {
            display: table-cell;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }
    
    .project-container:nth-of-type(1) .entry {
        background-color: #428FBE; /* from style guide */
    }
    .project-container:nth-of-type(2) .entry {
        background-color: #1DB954; /* spotify green */
    }
    .project-container:nth-of-type(3) .entry {
        background-color: white;
    }
    .project-container:nth-of-type(4) .entry {
        background-color: #000000;
    }
    
        .entry img, .entry svg {
            display: block;
            position: relative;
            /* center (& pad) image */
            top: 0; left: 5%;
            width: 90%; height: auto;
        }
        .entry #spt svg {
            transform: scale(2.5);
            left: 10%;
            }
            .entry #spt h1 {
                position: relative;
                top: 5vh;
                color: white;
            }

        .entry .mask, .entry .content-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
        }
        .entry h2 {
            text-transform: uppercase;
            color: #EEDDAA;
            text-align: center;
            position: relative;
            font-size: 4rem;
            padding: 10px 0;
            background: rgba(0,0,0, 0.8);
            margin-top: 10vh;
        }
        .entry p {
            font-size: 1rem;
            position: relative;
            top: 1vh;
            padding: 10px 10px 10px;
            color: black;
        }
        .entry button.info {
            position: relative;
                top: 2vh;
            background: black;
            padding: 7px 14px;
            color: #fff;
            text-transform: uppercase;
            box-shadow: 0 0 1px #000;
            text-decoration: none;
            cursor: pointer;
        }
        @media all and (max-width: 900px) {
            .entry h2 {
                padding: 0;
            }
            .entry p, .entry button {
                top: 0;
                font-size: 0.5rem;

            }
        }
        @media all and (max-width: 600px) {
            .entry h2 {
                font-size: 2rem;
            }
            .entry p, .entry button {
                font-size: 0.75rem;
                top: 2%;
            }
        }
        .entry:hover {
            background-color: #F3C12B;
            box-shadow: 0 0 5px #000;

            -webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
        }
        
        /* box animation cover styling */
        .entry-cover img { 
            transition: all 0.5s linear;
        }
            .entry-cover .mask {
                opacity: 0;
                background-color: transparent; 
                box-shadow: 4px 4px 8px #2b3136;

                -webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
                transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	            -webkit-transition-duration: 0.8s;
	            transition-duration: 0.8s;
            }
            .entry-cover h2 {
                transform: translateY(1000px);
                opacity: 0;
                transition: all 0.2s ease-in-out;
            }
            .entry-cover p { 
                transform: translateY(100px);
                opacity: 0;
                transition: all 0.2s linear;
            }
            .entry-cover button.info {
                opacity: 0;
                transition: all 0.2s ease-in-out;
                overflow: hidden;
            }

        /* box cover animation */
        .entry-cover:hover img { 
            transform: scale(1.05);
            opacity: 0;
        } 
        .entry-cover:hover .mask { 
            opacity: 1;
        }
        .entry-cover:hover h2,
        .entry-cover:hover p,
        .entry-cover:hover button.info {
            opacity: 1;
            transform: translateY(0px);
        }
        .entry-cover:hover p {
            transition-delay: 0.1s;
        }
        .entry-cover:hover a.info {
            transition-delay: 0.2s;
        }

        /*Entry Dropbox animations*/
        .entry-dropbox--open {
            animation: work-dropbox--open 0.5s normal forwards ease-in-out;
            transform-origin: 50% 0;
            -webkit-animation: work-dropbox--open 0.5s normal forwards ease-in-out;
            -moz-animation: work-dropbox--open 0.5s normal forwards ease-in-out;
                    animation: work-dropbox--open 0.5s normal forwards ease-in-out;
            -webkit-transform-origin: 100% 0%;
            -moz-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
        }
        .entry-dropbox--closed {
            animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
            transform-origin: 50% 0;
            -webkit-animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
            -moz-animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
                    animation: work-dropbox--closed 0.5s normal forwards ease-in-out;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
                    transform-origin: 50% 0%;
        }

        /* map animations (4each browser) */
        @-webkit-keyframes entry-dropbox--open {
            from { transform: scaleY(0) }
            to { transform: scaleY(1) }
        }
        @-moz-keyframes entry-dropbox--open {
            from { transform: scaleY(0) }
            to { transform: scaleY(1) }
        }
        @keyframes entry-dropbox--open {
            from { transform: scaleY(0) }
            to { transform: scaleY(1) }
        }

        @-webkit-keyframes entry-dropbox--closed {
            from { transform: scaleY(1) }
            to { transform: scaleY(0) }
        }
        @-moz-keyframes entry-dropbox--closed {
            from { transform: scaleY(1) }
            to { transform: scaleY(0) }
        }
        @keyframes  entry-dropbox--closed {
            from { transform: scaleY(1) }
            to { transform: scaleY(0) }
        }

    /* Dropdown content Styling */
        .content-bg {
            background:rgb(43, 49, 54, 0.85);
            padding: 48px 0 24px 0;
        }
        .content {
            margin: 0 2%;
            padding: 16px 8px 48px 24px;
            background-color: #F9F1DC;
            
            border-radius: 8px;
        }

            .content .header {
                padding: 16px 0 24px 12px;
                display: flex;
                flex-flow: row wrap;
                align-items: baseline;
                justify-content: space-between;
                width: 100%;
            }
                .content .header:first-child { /* Title */
                    padding-right: 12px;
                }
                .content .header .detail {
                    padding: 0 8px;
                }
                .content .header .detail h5 { text-decoration: underline; }
                .content .header .closebtn {
                    padding: 0 8px 12px;
                    color: #3d3d3d;
                    cursor: pointer;
                    align-self: center;
                }
                



            
                .content .section-title {
                    text-decoration: underline;
                    padding-top: 16px;
                }

/* end ----- */