/*
===============
- 
- 
- 
===============
*/
.fixed-navigator {
    font-family: "Cousine", monospace;
    position: fixed; z-index: 1000; /* top */
    display: flex;
    flex-flow: row nowrap;
    width: 10vw; /* RIGHT 10% OF SCREEN */
    height: 100%;
    top: 0;
    right: 0;
    justify-items: flex-start;
    align-items: flex-start;
}

/*progress bar styles in component */

.nav-menu {
    align-self: flex-end;
    width: 90%;
    padding-right: 4px;
    padding-bottom: 16px;
}

    .nav-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-menu ul li {
        display: block;
        padding: 8px 0;
        text-align: right;
        text-decoration: none;
        list-style-type: none;
        cursor: pointer;
    }
    .nav-menu ul li a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.75vw;
        color: #f9f1dc;
        cursor: pointer;
        white-space: nowrap;
    }

    .nav-menu ul li a.selected {
        color: #e0bf00;
        text-decoration: underline #eeddaa;
    }

    .nav-menu ul li a:hover {
        text-decoration: underline #e0bf00;
        transition: 0.5s ease-in-out;
        margin-right: 8px;
    }
    .nav-menu ul li a.selected:hover {
        color: #f9f1dc;
        text-decoration: underline #eeddaa;
        transition: 0.5s ease-in-out;
        margin-right: 8px;
    }