/*
===============
- 
- 
- 
===============
*/
.nav-menu {
    position: fixed; z-index: 10000; /* top */
    width: 10%; /* RIGHT 10% OF SCREEN */
    bottom: 0%;
    right: 0;
    padding-right: 32px;
    padding-bottom: 16px;
    scroll-behavior: smooth;
    font-family: "Cousine", monospace;
}

    .nav-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-menu ul li {
        display: block;
        padding: 0.75rem 0;
        text-align: right;
        text-decoration: none;
        list-style-type: none;
        cursor: pointer;
    }
    .nav-menu ul li a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.6vw;
        color: #f9f1dc;
        cursor: pointer;
        white-space: nowrap;
    }

    .nav-menu ul li a.current {
        color: #e0bf00;
        text-decoration: underline #eeddaa;
    }
    .nav-menu ul li a:hover {
        text-decoration: underline #e0bf00;
        transition: 0.5s ease-in-out;
        margin-right: 8px;
    }